{
  "presets": [
    "next/babel"
  ],
  "env": {
    "test": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        [
          "css-modules-transform"
        ]
      ]
    }
  }
}